/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Lato, sans-serif;
}

.article {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.article__preview {
  width: 100%;
}

.article__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .article {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__name,
.task__input,
.form__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.form {
  display: flex;
}

.list {
  margin: 0;
  padding: 0;
}

.task,
.section__heading {
  list-style: none;
}

.task__input,
.form__input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0;
  color: #888888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.section__heading {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input,
.form__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888888;
}

.task__input:focus,
.form__input:focus {
  color: #333333;
}

/* New Task */
.section__heading_moved {
  display: block;
  margin: 0 0 20px;
}

.form__input {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__check {
  margin: 0 10px;
}

.task__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  margin: 0;
}

.task__input {
  width: 226px;
}

.icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.task_completed .task__name {
  text-decoration: line-through;
  color: #888888;
}

/* Edit Task */
.task__input {
  display: none;
}

.task_mode_editing .task__input {
  display: inline-block;
  width: 224px;
}

.task_mode_editing .task__name {
  display: none;
}